<section class="msger" #scrollMe>

  <main class="msger-chat">
    <div *ngFor="let msg of messages">
      <div class="msg left-msg" *ngIf="msg.from=='bot'">
        <div class="msg-img" style="background-image: url(https://www.w3schools.com/howto/img_avatar.png)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Bot</div>
            <div class="msg-info-time">12:45</div>
          </div>

          <div class="msg-text" *ngIf="msg.text">
            {{msg.text}}
          </div>
          <div class="msg-text" *ngIf="msg.image">
            <img [src]="msg.image" style="width: 300px;">
          </div>
        </div>
      </div>

      <div class="msg right-msg" *ngIf="msg.from=='me'">
        <div class="msg-img" style="background-image: url(https://www.w3schools.com/howto/img_avatar.png)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Atul</div>
            <div class="msg-info-time">12:46</div>
          </div>

          <div class="msg-text">
            {{msg.text}}
          </div>
        </div>
      </div>
    </div>

  </main>
  <form class="msger-inputarea" [formGroup]="chatForm">
    <input type="text" class="msger-input" placeholder="Enter your message..." formControlName="message">

    <button type="submit" (click)="onSubmit()" class="msger-send-btn">Send</button>

    <div  *ngIf="!showMic" (click)="startRecording()" ><mat-icon class="mic">mic</mat-icon></div>
    <div *ngIf="showMic">
      Recording...
      <button (click)="resetRecording()" class="msger-send-btn">rest</button>
      <!-- <div><mat-icon (click)="resetRecording()" class="mic" >refresh</mat-icon></div> -->
      <!-- <button ><mat-icon (click)="resetRecording()" class="msger-reset-btn">refresh</mat-icon></button> -->
    </div>

  </form>

</section>